<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPersistenceServiceOf_Address" />
        <binding name="BasicHttpBinding_IPersistenceServiceOf_Company" />
        <binding name="BasicHttpBinding_IPersistenceServiceOf_EMailAddress" />
        <binding name="BasicHttpBinding_IPersistenceServiceOf_Person" />
        <binding name="BasicHttpBinding_IPersistenceServiceOf_PhoneNumber" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--
        AddressPersistenceService Endpoint Addresses
        ********************************************
        Entity Framework: http://localhost:1048/AddressPersistenceService.svc
        Dapper:           http://localhost:1213/AddressPersistenceService.svc
        NHibernate:       http://localhost:1541/AddressPersistenceService.svc
      -->
      <endpoint address="http://localhost:1541/AddressPersistenceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersistenceServiceOf_Address"
        contract="AddressPersistence.IPersistenceServiceOf_Address"
        name="BasicHttpBinding_IPersistenceServiceOf_Address" />
      
      <!--
        AddressPersistenceService Endpoint Addresses
        ********************************************
        Entity Framework: http://localhost:1048/AddressPersistenceService.svc
        Dapper:           http://localhost:1213/AddressPersistenceService.svc
        NHibernate:       http://localhost:1541/AddressPersistenceService.svc
      -->
      <endpoint address="http://localhost:1541/CompanyPersistenceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersistenceServiceOf_Company"
        contract="CompanyPersistence.IPersistenceServiceOf_Company"
        name="BasicHttpBinding_IPersistenceServiceOf_Company" />
      
      <!--
        EMailAddressPersistenceService Endpoint Addresses
        *************************************************
        Entity Framework: http://localhost:1048/EMailAddressPersistenceService.svc
        Dapper:           http://localhost:1213/EMailAddressPersistenceService.svc
        NHibernate:       http://localhost:1541/EMailAddressPersistenceService.svc
      -->
      <endpoint address="http://localhost:1541/EMailAddressPersistenceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersistenceServiceOf_EMailAddress"
        contract="EMailAddressPersistence.IPersistenceServiceOf_EMailAddress"
        name="BasicHttpBinding_IPersistenceServiceOf_EMailAddress" />
      
      <!--
        PersonPersistenceService Endpoint Addresses
        *******************************************
        Entity Framework: http://localhost:1048/PersonPersistenceService.svc
        Dapper:           http://localhost:1213/PersonPersistenceService.svc
        NHibernate:       http://localhost:1541/PersonPersistenceService.svc
      -->
      <endpoint address="http://localhost:1541/PersonPersistenceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersistenceServiceOf_Person"
        contract="PersonPersistence.IPersistenceServiceOf_Person" name="BasicHttpBinding_IPersistenceServiceOf_Person" />
      
      <!--
        PhoneNumberPersistenceService Endpoint Addresses
        ************************************************
        Entity Framework: http://localhost:1048/PhoneNumberersistenceService.svc
        Dapper:           http://localhost:1213/PhoneNumberPersistenceService.svc
        NHibernate:       http://localhost:1541/PhoneNumberPersistenceService.svc
      -->
      <endpoint address="http://localhost:1541/PhoneNumberPersistenceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersistenceServiceOf_PhoneNumber"
        contract="PhoneNumberPersistence.IPersistenceServiceOf_PhoneNumber"
        name="BasicHttpBinding_IPersistenceServiceOf_PhoneNumber" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
