<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPersistenceServiceOf_User" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--
        UserPersistenceService Endpoint Addresses
        *****************************************
        Entity Framework: http://localhost:1048/UserPersistenceService.svc
        Dapper:           http://localhost:1213/UserPersistenceService.svc
        NHibernate:       http://localhost:1541/UserPersistenceService.svc
      -->
      <endpoint address="http://localhost:1048/UserPersistenceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersistenceServiceOf_User"
        contract="UserPersistence.IPersistenceServiceOf_User" name="BasicHttpBinding_IPersistenceServiceOf_User" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>
