<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="SoCrm"
         connectionString="Data Source=|DataDirectory|\SoCrm.sdf;Persist Security Info=False"
         providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SoCrm.Infrastructure.Persistence.EntityFramework.Provider.PersistenceService">
        <endpoint address="" behaviorConfiguration="SoCrm.Infrastructure.Persistence.EntityFramework.Provider.PersistenceServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="SoCrm.Infrastructure.Persistence.EntityFramework.Provider.PersistenceService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SoCrm.Infrastructure.Persistence.EntityFramework.Provider.PersistenceServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>